In [21]:
import pandas as pd
df=pd.read_csv("result3.csv")

In [22]:
df["GT_MCAT"]= df["GT_MCAT"].str.lower()

In [23]:
df.head(10)

,user_search,GT_MCAT,prediction,result
0,mens sports t shirt,mens sports t-shirt,mens sports t shirt,"['ladies', 'sports', 'socks']"
1,mens hooded sweatshirt,man hoodies,mens hooded sweatshirts,"['coal', 'fired', 'burners']"
2,Candle Stand,candle stands,candle stands,"['candle', 'stands']"
3,polthin pecking bags colars,polythene bags,polyter bags,"['gladstone', 'bags']"
4,nt cutter d-1000,cable cutters,cutting machine,"['daqin', 'cutting', 'machine']"
5,muscletech nitrotech,weight gain nutrition,pharmaceutical medicines,"['pharmaceutical', 'medicines']"
6,kalaghar,mobile software,cattle face services,"['loading', 'unloading', 'services']"
7,teak wood beading,wooden beading,wooden beading,"['wooden', 'beading']"
8,orgnaiser,car accessories,organine machine,"['breadcrumb', 'machine']"
9,barcode printers,barcode printers,barcode printers,"['datalogic', 'barcode', 'scanner']"

In [24]:
df['count'] = df.apply(lambda x: 1 if x.GT_MCAT in x.prediction else 0, axis = 1)

In [27]:
df.head(5)

,user_search,GT_MCAT,prediction,result,count
0,mens sports t shirt,mens sports t-shirt,mens sports t shirt,"['ladies', 'sports', 'socks']",0
1,mens hooded sweatshirt,man hoodies,mens hooded sweatshirts,"['coal', 'fired', 'burners']",0
2,Candle Stand,candle stands,candle stands,"['candle', 'stands']",1
3,polthin pecking bags colars,polythene bags,polyter bags,"['gladstone', 'bags']",0
4,nt cutter d-1000,cable cutters,cutting machine,"['daqin', 'cutting', 'machine']",0

In [25]:
df['count'].value_counts()

0    11733
1     8267
Name: count, dtype: int64

In [26]:
8267/20000

0.41335